<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h1>회원가입 페이지</h1>
    <form action="/join" method="post">
        <div class="form-group">
            <label for="memberId">ID</label>
            <input type="text" id="memberId" name="memberId" placeholder="ID를 입력하세요"> <br>
            <label for="password">PASSWORD</label>
            <input type="text" id="password" name="password" placeholder="password를 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>