<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h1>회원 목록</h1>
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${memberList}">  <!-- thymeleaf 문법-->
                <td th:text="${member.id}"></td>
                <td th:text="    ${member.memberId}"></td>
                <td th:text="  ${member.password}"></td>
            </tr>
            </tbody>
        </table>
        <button><a href="/">뒤로가기</a></button>
    </div>
</div> <!-- /container -->
</body>
</html>